<!DOCTYPE html>
<html lang="pl-PL">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="description" content="Display ZSE News Tickers" />
		<script src="../sources/vue.global.js"></script>
		<link rel="icon" type="image/png" href="img/logo-mini.png" />
		<title>TM - Display</title>
		<link rel="stylesheet" href="style.css" />
		<script src="../sources/socket.io.min.js"></script>
		<link href="../sources/poppins.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="left-panel">
				<img src="img/left-wing.png" alt="" />
			</div>
			<div class="text-area">
				<div class="text ticker-wrap">
					<div class="ticker" :style="{ animation: 'marquee ' + animationDelay + 's linear infinite' }">
						<span class="item-collection-1" :style="{ animation: 'swap ' + animationDelay+ 's linear infinite'}">
							<span class="item" v-for="(item, index) in text" :key="index">{{item}}</span>
						</span>
						<span class="item-collection-2">
							<span class="item" v-for="(item, index) in text" :key="index">{{item}}</span>
						</span>
					</div>
				</div>
			</div>
			<div class="right-panel">
				<img src="img/right-wing.png" alt="" />
			</div>
		</div>
	</body>
	<script src="app.js"></script>
</html>
