<!DOCTYPE html>
<html lang="pl-PL">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="description" content="Manage panel of ZSE News Tickers" />
		<script src="../sources/vue.global.prod.js"></script>
		<link rel="icon" type="image/png" href="img/logo-mini.png" />
		<title>NT - Manage</title>
		<link rel="stylesheet" href="style.css" />
		<script src="../sources/socket.io.min.js"></script>
		<link href="../sources/poppins.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="main-title bg">
				<img src="img/logo-mini-title.png" alt="logo ZSE" class="title-zse-logo" />
				Generator Pasków Informacyjnych
			</div>
			<div class="bg play">
				<button
					id="show"
					class="mini_button"
					@click="open()"
					:class="{ 'disabled': isOpen }"
					:title="isOpen ? 'Już jest widoczny!' : 'Pokaż pasek'">
					<img src="img/play.png" alt="plus" />
					<span>Pokaż</span>
				</button>
				<button
					id="hide"
					class="mini_button"
					@click="close()"
					:class="{ 'disabled': !isOpen }"
					:title="!isOpen ? 'Już jest ukryty!' : 'Ukryj pasek'">
					<img src="img/stop.png" alt="plus" />
					<span>Ukryj</span>
				</button>
			</div>
			<div class="bg text">
				<div class="text-title">Tekst Informacyjny</div>
				<div class="text-wrap">
					<div class="text-item" v-for="(item, index) in text" :key="index">
						<textarea type="text" class="text-content textarea" v-model="text[index]"></textarea>
						<img src="img/bin.png" alt="bin" class="text-img" @click="delText(index)" />
					</div>
				</div>
				<div class="text-buttons">
					<button id="addText" class="mini_button" @click="addText()">
						<img src="img/plus.png" alt="plus" />
						<span>Dodaj tekst</span>
					</button>
					<button id="updateText" class="mini_button" @click="setText()">
						<img src="img/square.png" alt="plus" />
						<span>Aktualizuj tekst</span>
					</button>
				</div>
			</div>
			<div class="bg speed">
				<div class="speed-title">Prędkość przesuwania</div>
				<div class="speed-wraper">
					<div class="speed-text">Wpisz wartość odstępu czasowego między przesunięciami:</div>
					<input type="number" v-model="animationDelay" class="speed-value" @keyup.enter="setSpeed()" min="1" max="2500" />
				</div>
				<button id="setSpeed" class="mini_button" @click="setSpeed()">
					<img src="img/square.png" alt="plus" />
					<span>Aktualizuj prędkość</span>
				</button>
			</div>
		</div>

		<div id="popup" class="hidden">
			<img src="img/status-ok.png" alt="status icon" class="status-icon" />
			<div class="status-message">TEST</div>
		</div>
		<script src="app.js"></script>
	</body>
</html>
